In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
my_page = requests.get(
    "https://www.businessinsider.com/best-suburbs-to-live-in-america-ranked-2018-9")
print(my_page.status_code) #200

200

In [3]:
suburb_soup = BeautifulSoup(my_page.content, 'html.parser')

In [4]:
#print (suburb_soup.body.prettify()[:])

In [5]:
suburb=suburb_soup.find_all(class_="slide-title-text")
suburb_text = suburb_soup.find_all("p")

In [16]:
name = []
rank = []
for burb in suburb:
    rank.append(int(burb.text[:2].replace(".","")))
    name.append(burb.text[3:])

In [7]:
y = 0
population=[]
home_val = []
hh_income = []
crime_grade = []

for x in suburb_text[8:]:
    if "Population" in x.text:
        population.append(x.text[12:])
    if "Median home value" in x.text:
        home_val.append(x.text[20:])
    if "Median household income" in x.text:
        hh_income.append(x.text[26:])
    if "Crime & safety grade" in x.text:
        crime_grade.append(x.text[22:])

In [17]:
df = pd.DataFrame({"City":name,
                  'Population':population,
                  "Median Home Value":home_val,
                  "Median Household Income":hh_income,
                  "Crime & Safety Grade":crime_grade})

df.index = rank
df.index.name = 'rank'

In [18]:
df.sort_index(ascending=True)

,City,Population,Median Home Value,Median Household Income,Crime & Safety Grade
rank,,,,,
1,"Carmel, Indiana","88,595","320,400","109,201",B+
2,"Okemos, Michigan","22,989","213,600","74,568",Not provided
3,"Chesterbrook, Pennsylvania","4,675","318,400","115,446",Not provided
4,"Richmond Heights, Missouri","8,466","244,600","76,081",C
5,"Clayton, Missouri","16,214","590,800","91,531",B
6,"Penn Wynne, Pennsylvania","5,720","367,400","115,625",Not provided
7,"Los Alamos, New Mexico","12,035","291,800","101,399",B
8,"Grandview Heights, Ohio","7,377","313,700","98,806",A-
9,"Clarendon Hills, Illinois","8,680","478,500","113,447",B
10,"Prairie Village, Kansas","21,932","243,800","84,106",B
11,"Stone Ridge, Virginia","11,803","438,000","139,400",Not provided
12,"Shaker Heights, Ohio","27,749","218,500","82,830",Not provided
13,"Ardmore, Pennsylvania","13,193","320,100","87,807",Not provided
14,"Elm Grove, Wisconsin","6,127","360,800","113,750",A-
15,"North Potomac, Maryland","24,236","656,900","161,553",Not provided
16,"Fishers, Indiana","87,557","240,100","101,469",B-
17,"Brookline, Massachusetts","59,246","829,300","111,289",B
18,"Decatur, Georgia","22,022","418,700","92,263",C+
19,"Arlington, Virginia","229,534","643,300","112,138",Not provided
20,"Buffalo Grove, Illinois","41,551","314,500","106,564",B+
21,"Berwyn, Pennsylvania","3,405","445,600","100,857",Not provided
22,"North Bethesda, Maryland","50,056","550,900","103,194",Not provided
23,"Morrisville, North Carolina","23,873","304,500","95,763",B
24,"Bloomfield Charter Township, Michigan","41,969","385,400","123,086",Not provided
25,"Holly Hills, Colorado","2,797","370,400","117,917",Not provided
26,"Swarthmore, Pennsylvania","6,243","387,800","106,737",A-
27,"Greatwood, Texas","12,437","322,000","148,047",Not provided
28,"Cascades, Virginia","12,132","477,000","141,741",Not provided
29,"Cinco Ranch, Texas","18,200","329,400","141,992",Not provided
30,"Brentwood, Missouri","8,025","213,300","74,650",B-
31,"Ann Arbor, Michigan","119,303","271,600","61,247",B-
32,"Cary, North Carolina","159,715","323,000","97,755",B-
33,"Madeira, Ohio","8,993","266,400","97,292",Not provided
34,"Garrett Park, Maryland","1,020","810,000","173,889",Not provided
35,"New Territory, Texas","15,699","276,800","135,444",Not provided
36,"Berkeley, California","120,179","861,800","75,709",C
37,"Coppell, Texas","41,138","344,300","119,936",B-
38,"Creve Coeur, Missouri","18,259","363,000","101,462",C+
39,"Long Grove, Illinois","7,980","654,200","187,212",Not provided
40,"Mount Lebanon Township, Pennsylvania","32,760","244,800","91,748",B
41,"Bexley, Ohio","13,659","328,300","104,796",C+
42,"Leawood, Kansas","34,195","431,000","151,446",B-
43,"Dublin, Ohio","44,442","357,900","128,916",B-
44,"Chesterfield, Missouri","47,660","360,400","99,848",B
45,"Birmingham, Michigan","20,836","467,700","114,537",B
46,"South Kensington, Maryland","8,684","718,000","160,303",Not provided
47,"University Heights, Iowa","1,242","275,300","72,083",Not provided
48,"The Woodlands, Texas","109,608","351,000","115,083",Not provided
49,"Troy, Michigan","83,336","269,800","93,017",B-
50,"Sixteen Mile Stand, Ohio","3,036","385,600","86,473",Not provided